.product {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .product-image {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMIglnTU-m2Wuu_loNVezbnP5oQZPnBf0MNE5N1Tw3NvutnaeEACi4k3VBwEzDBU6DUzM&usqp=CAU");
    width: 50vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .product-text {
    margin-left: 50px;
    width: 700px;
    height: 300px;
  }
}
