.nav {
  height: 96px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 740px;
  object-fit: cover;
  padding: 0 20px;
  background-color: white;

  .logo {
    height: 96px;
    position: absolute;
    cursor: pointer;
    margin-top: -50px;
    margin-left: 80px;
  }
  .nav-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 35px;
  }
  .navbarItem {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .navbarItem:hover {
    color: gray;
  }
}
