.homepage {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;

  .homepage-up {
    max-width: 50px;
    height: 20px;
    margin-left: -50px;
    margin-top: -250px;
  }
  .home1 {
    width: 130px;
    height: 350px;
  }
  .home5 {
    width: 130px;
    height: 350px;
    margin-top: 40px;
  }
  .home3 {
    width: 130px;
    height: 350px;
  }
  .home4 {
    width: 130px;
    height: 350px;
    margin-top: 40px;
  }
  .homepage-down {
    max-width: 50px;
    height: 20px;
    margin-left: 120px;
    margin-top: -250px;
  }
}
